/* AdminDashboard.css */

.admin-dashboard-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 80vw;
  height: 100vh;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 30px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.stat-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 20%; /* Ajusta el ancho para cuatro cards */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Espacio inferior entre filas */
  text-align: center;
  transition: transform 0.2s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h2 {
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #333;
}

.stat-card p {
  font-size: 2em;
  color: #555;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px 12px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
}

.table-container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para la paginación */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-container button.active {
  background-color: #0056b3;
}

.error {
  color: red;
  text-align: center;
}

.loader {
  text-align: center;
  font-size: 1.5em;
  color: #555;
  margin-top: 50px;
}


/* Gráficas Container */
.charts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

/* Cada Gráfico */
.chart-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 40%; /* Aproximadamente la mitad del contenedor */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.chart-card:hover {
  transform: translateY(-5px);
}

.chart-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Responsividad para Gráficas */
@media (max-width: 1200px) {
  .chart-card {
    width: 100%; /* Una gráfica por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .chart-card {
    width: 100%; /* Una gráfica por fila en pantallas pequeñas */
  }
}
