/* Navbar */
.navbar {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #5a3e79;
  padding: 10px 0;
  width: 100%; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  font-size: 16px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.content {
  margin-top: 60px;  
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: calc(100vh - 60px); 
}

@media (max-width: 768px) {
  .navbar a {
    padding: 0 10px;
  }
}
