/* styles/Perfil.css */

h1{
    text-align: center;
}


.perfil-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .perfil-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .perfil-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .perfil-form button {
    margin-right: 10px;
    padding: 10px 20px;
  }
  
  .perfil-info p {
    margin: 10px 0;
  }
  
  .deactivate-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .deactivate-button:hover {
    background-color: #ff1a1a;
  }
  