.user-menu {
    position: fixed; /* Fijo en la esquina superior izquierda */
    top: 20px;
    left: 20px;
    display: inline-block;
    z-index: 1000; /* Asegura que esté siempre sobre otros elementos */
}
  
.user-menu-button {
    background-color: #5a3e79; /* Color del botón */
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px; /* Tamaño del ícono */
    cursor: pointer;
    border-radius: 5px;
}
  
.user-menu-dropdown {
    position: absolute;
    top: 100%; /* Alineado con el botón */
    left: 0; /* Despliega hacia la derecha */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    min-width: 150px; /* Ancho mínimo */
}
  
.user-menu-option {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    color: #5a3e79;
    min-width: 120px;
}
  
.user-menu-option:hover {
    background-color: #f0f0f0; /* Cambio de color al pasar el ratón */
}
